body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease, color 0.5s ease;
}

h1 {
    text-align: center;
    color: #6b6a6a;
    transition: color 0.5s ease;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
}

button.hidden {
    display: none;
}

button:hover {
    background-color: #0056b3;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.income-section, .expense-section {
    margin: 20px 0;
}

#dark-mode-toggle {
    background-color: #333;
    margin-bottom: 20px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .container {
    background-color: #444;
    color: #fff;
}

.dark-mode button {
    background-color: #555;
}

.dark-mode button:hover {
    background-color: #666;
}

.dark-mode input, .dark-mode select {
    background-color: #555;
    color: #fff;
    border-color: #666;
}

.dark-mode #recent-transactions {
    background-color: #666;
    color: #fff;
}
