body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    transition: background-color 0.3s;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    overflow-y: auto;
    transition: background-color 0.3s, color 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
}

header button {
    padding: 10px;
    background-color: #d3d3d3;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.account-section button {
    background-color: #adcbe3;
    color: #fff;
}

.income-section button {
    background-color: #b0dab9;
    color: #fff;
}

.expense-section button {
    background-color: #f5b8b1;
    color: #fff;
}

.transactions-section {
    background-color: #fcebb6;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.hidden {
    display: none;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button:hover {
    opacity: 0.9;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode button {
    background-color: #555;
    color: #fff;
}

.dark-mode .account-section button {
    background-color: #567a9f;
}

.dark-mode .income-section button {
    background-color: #7fbf7f;
}

.dark-mode .expense-section button {
    background-color: #d19090;
}

.dark-mode .transactions-section {
    background-color: #e3c678;
}
